@import '../../colors';

.mining_counter
{
    display: flex;

    flex-flow: column;
    justify-content: center;
}

.status
{
    box-sizing: border-box;
    margin: .5rem;
    padding: .75rem 1rem .75rem 1rem;

    transition: .5s;

    color: $white;
    border-radius: .25rem;
    
    &.red
    {
        background: $red;
    }

    &.green
    {
        background: $green;
    }
}
