$white: #ECF0F1;
$silver: #BDC3C7;
$blue: #3498DB;
$darkblue: #2980B9;
$lightblue: lighten($blue, 10%);
$gray: #34495E;
$darkgray: #2C3E50;
$green: #2ECC71;
$darkgreen: #27AE60;
$red: #E74C3C;
$darkred: #C0392B;
$concrete: #95A5A6;
$asbestos: #7F8C8D;
